@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-purple-950 text-purple-100;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6b21a8;
  border-radius: 4px;
}