
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #1a0b2e;
  color: #e9d7ff;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #6b21a8;
  border-radius: 4px;
}
