
@tailwind base;
@tailwind components;
@tailwind utilities;
body { @apply bg-gradient-to-br from-indigo-950 via-purple-950 to-purple-900 text-white font-sans; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-thumb { background: rgba(124,58,237,.5); border-radius: 6px; }
